In this notebook, i'm going to analyze a really messy dataset about the players in the videogame FIFA21. I'm focusing on cleaning and transformation on the data, based on my own analysis about the features and characteristics of the dataset.

In [1]:
import pandas as pd

# Import and view the Data

In [2]:
df = pd.read_csv("fifa21 raw data v2.csv")
df.head(10) # To see the first 10 elements in the dataset

<ipython-input-2-b2614940ecd9>:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21 raw data v2.csv")

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595
5,188545,R. Lewandowski,Robert Lewandowski,https://cdn.sofifa.com/players/188/545/21_60.png,http://sofifa.com/player/188545/robert-lewando...,Poland,31,91,91,\n\n\n\nFC Bayern München,...,High,Medium,4 ★,78,91,78,85,43,82,248
6,209331,M. Salah,Mohamed Salah,https://cdn.sofifa.com/players/209/331/21_60.png,http://sofifa.com/player/209331/mohamed-salah/...,Egypt,28,90,90,\n\n\n\nLiverpool,...,High,Medium,3 ★,93,86,81,90,45,75,246
7,212831,Alisson,Alisson Ramses Becker,https://cdn.sofifa.com/players/212/831/21_60.png,http://sofifa.com/player/212831/alisson-ramses...,Brazil,27,90,91,\n\n\n\nLiverpool,...,Medium,Medium,3 ★,86,88,85,89,51,91,120
8,231747,K. Mbappé,Kylian Mbappé,https://cdn.sofifa.com/players/231/747/21_60.png,http://sofifa.com/player/231747/kylian-mbappe/...,France,21,90,95,\n\n\n\nParis Saint-Germain,...,High,Low,3 ★,96,86,78,91,39,76,1.6K
9,192448,M. ter Stegen,Marc-André ter Stegen,https://cdn.sofifa.com/players/192/448/21_60.png,http://sofifa.com/player/192448/marc-andre-ter...,Germany,28,90,93,\n\n\n\nFC Barcelona,...,Medium,Medium,3 ★,88,85,88,90,45,88,130

Quickly i notice that the column named **LongName** is ambigous, so i'm going to change the name of that column to **FullName**

In [3]:
df.rename(columns={'LongName': 'FullName'}, inplace=True)

Now, i want to see the datatypes of all the columns, to have an initial approach of the quality of the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   FullName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

There are some columns that are not really useful, so i'm going to remove them from the DataFrame

In [5]:
df.drop(['photoUrl', 'playerUrl'], axis=1, inplace=True)

Now, we can clearly see that there are some columns that does not have their ideal **datatype**, like Height and Weight. Those columns definitely should be numerical! They are relevant data of a player, that in a numerical form can be useful with machine learning algorithms, for example.

# Fixing the height and weight columns

In [6]:
pd.set_option('display.max_rows', 10)

Going to see the unique values to have an approach of the data.

In [7]:
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [8]:
df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

We can appreciate that for both datatypes, there is an issue with the unit of measurement. We have cm and feet in height, and kg and lbs in weight.

## Fix the units of measurement

We want to convert that data to correct formats, and also transform the datatype to integer. Thar is necessary if later i would want to apply ML algorithms to do some stuff, for example.

I'm defining a function that convert all the height values to just the number, and if it was in lbs, makes the conversion to cm.

In [9]:
def convert_height(x):
    if x[-1] == '"':
        x = x.replace("\"","")
        inch = int(x[2:]) * 2.54
        foot = int(x[0]) * 30.48
        return round(foot+inch)
    elif x[-1] == "m":
        return int(x[:-2])

In [10]:
df.Height = df.Height.apply(convert_height)
df.Height.unique()

array([170, 187, 188, 181, 175, 184, 191, 178, 193, 185, 199, 173, 168,
       176, 177, 183, 180, 189, 179, 195, 172, 182, 186, 192, 165, 194,
       167, 196, 163, 190, 174, 169, 171, 197, 200, 166, 164, 198, 201,
       158, 162, 161, 160, 203, 157, 156, 202, 159, 206, 155])

Now, i'm going to do the same with the weight units. I'm going to define a function that converts all the possible data values.

In [11]:
def weight_kg(x):
    if 'lbs' in x:
        x = x.replace('lbs','')
        x = float(x) * 0.45359237
        x = int(x)
        return x
    else:
        return int(x[:-2])

In [12]:
df.Weight = df.Weight.apply(weight_kg)
df.Weight.unique()

array([ 72,  83,  87,  70,  68,  80,  71,  91,  73,  85,  92,  69,  84,
        96,  81,  82,  75,  86,  89,  74,  76,  64,  78,  90,  66,  60,
        94,  79,  67,  65,  59,  61,  93,  88,  97,  77,  62,  63,  95,
       100,  58,  98, 103,  99, 102,  56, 101,  57,  55, 104, 107, 110,
        53,  50,  54,  52])

## Rename the columns

I'm going to rename the columns to more specific names, that represents the unit of measurement that i'm going to use.

In [13]:
df.rename(columns={'Height': 'Height_cm', 'Weight': 'Weight_kg'}, inplace=True)

# Joined column analysis

In [14]:
df.Joined.unique()

array(['Jul 1, 2004', 'Jul 10, 2018', 'Jul 16, 2014', ..., 'Sep 22, 2018',
       'Feb 28, 2015', 'Mar 6, 2018'], dtype=object)

I can see that the Joined column contains a format that is not easy to read. I should definitely transform it to a Date-type column, because that is what actually is, a date.

In [15]:
df['Joined'] = pd.to_datetime(df['Joined']).dt.date

In [37]:
df.Joined.head(5)

0    2004-07-01
1    2018-07-10
2    2014-07-16
3    2015-08-30
4    2017-08-03
Name: Joined, dtype: object

# Fix Club format

I can see that the Club information is not good, becasue all of the players contains "\n" in their values of their team.

In [17]:
df.Club.head(5)

0           \n\n\n\nFC Barcelona
1               \n\n\n\nJuventus
2        \n\n\n\nAtlético Madrid
3        \n\n\n\nManchester City
4    \n\n\n\nParis Saint-Germain
Name: Club, dtype: object

I'm going to create a function that removes the \n string from the values.

In [18]:
def remove_newlines(df, column_name):
    df[column_name] = df[column_name].str.replace('\n', '')

In [19]:
remove_newlines(df, 'Club')

In [20]:
df.Club.values

array(['FC Barcelona', 'Juventus', 'Atlético Madrid', ..., 'Derry City',
       'Dalian YiFang FC', 'Dalian YiFang FC'], dtype=object)

# Fix money associated values

The columns Value, Wage, and Release Clause are all monetary values of a player.

In [21]:
df.iloc[:5,17:20]

     Value   Wage Release Clause
0  €103.5M  €560K        €138.4M
1     €63M  €220K         €75.9M
2    €120M  €125K        €159.4M
3    €129M  €370K          €161M
4    €132M  €270K        €166.5M

These are all string values, because containts the coin (€). I'm going to transform those variables to integers. To do that, i'm going to define a function to transform the values and then rename the columns to a more specific name.

In [22]:
def calc_value(x):
    if 'M' in x:
        x = x.replace('M', '')
        x = float(x[1:]) * 1000000
        return round(x)
    elif "K" in x:
        x = x.replace('K', '')
        x = float(x[1:]) * 1000
        return round(x)
    else:
        return int(x[1:])

In [23]:
df['Value'] = df['Value'].apply(calc_value)
df['Wage'] = df['Wage'].apply(calc_value)
df['Release Clause'] = df['Release Clause'].apply(calc_value)

In [24]:
df.rename(columns={'Value': 'Value_€', 'Wage': 'Wage_€', 'Release Clause': 'Release_Clause_€'}, inplace=True)

# Handling Missing Values

First, i'm going to see if some columns have a lot of null or missing values.

In [25]:
pd.set_option('display.max_rows', None)
missing_values_count = df.isnull().sum()
missing_values_count

ID                      0
Name                    0
FullName                0
Nationality             0
Age                     0
↓OVA                    0
POT                     0
Club                    0
Contract                0
Positions               0
Height_cm               0
Weight_kg               0
Preferred Foot          0
BOV                     0
Best Position           0
Joined                  0
Loan Date End       17966
Value_€                 0
Wage_€                  0
Release_Clause_€        0
Attacking               0
Crossing                0
Finishing               0
Heading Accuracy        0
Short Passing           0
Volleys                 0
Skill                   0
Dribbling               0
Curve                   0
FK Accuracy             0
Long Passing            0
Ball Control            0
Movement                0
Acceleration            0
Sprint Speed            0
Agility                 0
Reactions               0
Balance                 0
Power                   0
Shot Power              0
Jumping                 0
Stamina                 0
Strength                0
Long Shots              0
Mentality               0
Aggression              0
Interceptions           0
Positioning             0
Vision                  0
Penalties               0
Composure               0
Defending               0
Marking                 0
Standing Tackle         0
Sliding Tackle          0
Goalkeeping             0
GK Diving               0
GK Handling             0
GK Kicking              0
GK Positioning          0
GK Reflexes             0
Total Stats             0
Base Stats              0
W/F                     0
SM                      0
A/W                     0
D/W                     0
IR                      0
PAC                     0
SHO                     0
PAS                     0
DRI                     0
DEF                     0
PHY                     0
Hits                 2595
dtype: int64

In [26]:
# Set back the diplay default value to 10
pd.set_option('display.max_rows', 10)

We have that the **Loan Date End**, and the **Hits** columns have some null values. Lets see both of them with more detail:

In [27]:
df.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', nan, 11.0,
       2.0, 1.0, 31.0, 3.0, 10.0, 9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

In [28]:
df['Loan Date End'].unique()

array([nan, 'Jun 30, 2021', 'Dec 31, 2020', 'Jan 30, 2021',
       'Jun 30, 2022', 'May 31, 2021', 'Jul 5, 2021', 'Dec 31, 2021',
       'Jul 1, 2021', 'Jan 1, 2021', 'Aug 31, 2021', 'Jan 31, 2021',
       'Dec 30, 2021', 'Jun 23, 2021', 'Jan 3, 2021', 'Nov 27, 2021',
       'Jan 17, 2021', 'Jun 30, 2023', 'Jul 31, 2021', 'Nov 22, 2020',
       'May 31, 2022', 'Dec 30, 2020', 'Jan 4, 2021', 'Nov 30, 2020',
       'Aug 1, 2021'], dtype=object)

* In the case of Hits, it is a continuous variable, with a lot of null values that should be filled. So, i'm going to fill those values with zero, and then apply a function that transform accordly the data.
* In the case of Loan Date End, for a lot of players this information does not exist, because they are not in loan. So, i'm just going to left that nan values.

## Fix Hits

In [29]:
# Fill the na with 0
df.Hits.fillna(0)

0        771
1        562
2        150
3        207
4        595
        ...
18974      0
18975      0
18976      0
18977      0
18978      0
Name: Hits, Length: 18979, dtype: object

In [30]:
# define a function to replace K with an empty string and turn the value to a float so it can be added to 1000
def hitchange(h):
  if isinstance(h, str) and "K" in h:
        h = h.replace('K', "")
        h = float(h) * 1000
        return round(h)
  else:
      return h

In [31]:
# apply it to the Hits colum
df.Hits = df.Hits.apply(hitchange)

In [32]:
df.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', 1600,
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', 1100, '433', '242', '206', '177', 1500, '198', '459', '117',
       '119', '209', '84', '187', '165', '203', '65', '336', '126', '313',
       '124', '145', '538', '182', '101', '45', '377', '99', '194', '403',
       '414', '593', '374', '245', 3200, '266', '299', '309', '215',
       '265', '211', '112', '337', '70', '159', '688', '116', '63', '144',
       '123', '71', '224', '113', '168', '61', '89', '137', '278', '75',
       '148', '176', '197', '264', '214', '247', '402', '440', 1700, 2300,
       '171', '320', '657', '87', '259', '200', '255', '253', '196', '60',
       '97', '85', '169', '256', '132', '239', '166', '121', '109', '32',
       '46', '122', '48', '527', '199', '282', '51', 1900, '642', '155',
       '323', '288', '497', '509', '79', '49', '270', '511', '80', '128',
       '115', '156', '204', '143', '140', '152', '220', '134', '225',
       '94', '74', '135', '142', '50', '77', '40', '107', '193', '179',
       '34', '64', '453', '57', '81', '28', '78', '133', '43', '425',
       '88', '42', '36', '233', '376', '210', '444', '100', '263', '98',
       '29', '160', '39', '257', '6', '310', '138', '62', '293', '285',
       '362', '66', '69', '58', '21', '20', '131', '38', '406', '68',
       '108', '110', '93', '512', '443', '306', '352', '422', '585',
       '346', '178', '841', '76', '394', '72', '172', '44', '407', '230',
       '367', '295', '157', '243', '56', '111', '326', '679', '18', '92',
       '59', '25', '184', '53', '12', '90', '55', '73', '11', '566',
       '180', '83', '262', '17', '26', '31', '280', '359', '213', '297',
       '387', '480', '381', '677', '486', '8', '244', '129', '388', '275',
       '319', 2000, '52', '91', '421', '153', '27', '41', '222', '35',
       '102', '23', '30', '33', '146', '13', '19', '14', '106', '276',
       '568', '353', '47', '478', '249', '254', '369', '219', '565',
       '237', '227', '434', '375', '162', '605', '654', '3', '7', '9',
       '104', '114', '186', '446', '756', '22', '139', '500', '67', '147',
       '149', '16', '82', '54', '37', '15', 1300, 3000, '952', '5', '749',
       '541', '330', '393', '517', '770', '409', '170', '125', '283',
       '342', '363', '580', '105', '217', '24', '141', '10', '427', '158',
       '426', '4', '666', '181', '324', '979', 1400, '302', '751', '298',
       '411', '944', '2', '947', '292', '349', '621', '1', 2800, '338',
       '287', '261', '218', 1800, '240', '279', '229', '188', '315',
       '664', '613', '190', '706', '127', '462', '386', '695', '491',
       '167', '281', '250', '307', '95', '231', '174', '680', '633',
       '221', '348', '602', '183', '653', '195', '164', '151', '258',
       8400, '343', '419', '655', '136', '399', '531', '357', '228',
       '385', '312', '340', '238', '487', '355', '499', 4300, '296',
       '515', '943', 1200, '903', '335', '191', '594', '267', '617',
       '516', '504', '331', '652', '410', '550', '473', '442', '344',
       '208', 1000, 2500, '273', '485', '826', '192', '405', '941', '477',
       '644', '303', '417', 6000, nan, 11.0, 2.0, 1.0, 31.0, 3.0, 10.0,
       9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

# Fix the Star characters in IR

The IR column is a rating based on stars. If we see carefully, all the values in the column have a number and then a star character.

In [33]:
df.IR.head(5)

0    5 ★
1    5 ★
2    3 ★
3    4 ★
4    5 ★
Name: IR, dtype: object

I'm going to remove the star and transform it into an integer value.

In [34]:
def remove_stars(df, column_name):
    df[column_name] = df[column_name].str.replace('★', '')

In [35]:
remove_stars(df, 'IR')

In [36]:
df.IR.astype('int64')

0        5
1        5
2        3
3        4
4        5
        ..
18974    1
18975    1
18976    1
18977    1
18978    1
Name: IR, Length: 18979, dtype: int64